Label {
    font-size: 12px;
    line-height: 20px;
    margin: 18 0 8 0;
}
TextField {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    height: 56;
    padding: 18;
    margin: 0;
    border-color: #DCDCDC;
    border-top-width: 2;
    border-left-width: 2;
    border-right-width: 2;
    border-bottom-width: 2;
    border-radius: 11;
}

TextField.focus {
    border-color: #FF8933;
}
